body {
	padding: 0px;
	margin: 0px;
	font-family:Arial, Helvetica, sans-serif;
}
/* 整体结构 */
#head {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f7931e;
}
#main {
	width: 75%;
	min-height: 500px;
	margin: auto;
}
#foot {
	margin-top: 50px;
	width: 100%;
	height: auto;
	background-color: #f67828;
}
/* 主副标题 */
#nav_title {
	font-size: 48px;
	color: #FFF;
}
#nav_subtile {
	font-size: 22px;
	color: #FFF;
	padding-left: 5px;
}
/* 大标题 */
.title_h1 {
	margin-top: 45px;
	margin-bottom: 5px;
	font-size: 25px;
	color: #000;
}
/* 分割线 */
.divide_line {
	width: 100%;
	height: 1px;
	background: #f67828;
}
/* 小标题和内容 */
.title_h2 {
	margin-top: 30px;
	font-size: 19px;
	margin-left: 20px;
	color: #302D2D;
}
.content {
    width: 100%;
	font-size: 19px;
	color: #000;
	margin-top: 10px;
	margin-left: 40px;
	line-height: 1.5;
}
.margin-top {
	margin-top: 20px;
}
.copyright {
	font-size: 13px;
	color: #fff;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.footer_static{
	margin-top:1px;
	text-align: center;
}
.bluetext {
	color: #027fad;
	text-decoration:none;
}
.border_bottom {
	border-bottom:#027fad dashed 1px;
}
.blue, a {
	color: #027fad;
	text-decoration:none;
	border-bottom:#027fad dashed 1px;
}
.orangetext {
	color: #f94b42;
}
.greentext {
	color: #008573;
}
.input-email {
    padding-left:5px;
	border:0;
	min-width:250px;
	outline:none;
	font-size:19px;
	font-family:"Courier New", Courier, monospace;
}
.orange {
	color: #f94b42;
	text-decoration:none;
	border-bottom:#f94b42 dashed 1px;
}
.orange:hover {
	color: #f94b42;
	text-decoration:none;
	border-bottom:#f94b42 dashed 1px;
	cursor:pointer;
}
.blue:hover, a:hover {
	color: #f94b42;
	text-decoration:none;
	border-bottom:#f94b42 dashed 1px;
	cursor:pointer;
}
.code_name{
	font-size: 15px;
	color: #999;
	margin-top: 10px;
	margin-left: 20px;
	line-height: 1.5;
}
.whiteklink a {
	color: #ffffff;
	text-decoration:none;
	border-bottom:#999999 dashed 1px;
}
.whiteklink a:hover {
	color: #ffffff;
	text-decoration:none;
	border-bottom:#ffffff dashed 1px;
}
.text-mid-line {
	color: #999999;
	text-decoration:line-through;
}