body {
	padding: 0px;
	margin: 0px;
	font-family:"Courier New", Courier, monospace;
}
/* 整体结构 */
#head {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #302D2D;
}
#main {
	max-width: 960px;
	min-height: 500px;
	margin: auto;
}
#foot {
	margin-top: 50px;
	width: 100%;
	height: auto;
	background-color: #302D2D;
}
/* 主副标题 */
#nav_title {
	font-size: 30px;
	color: #FFF;
}
#nav_subtile {
	font-size: 13px;
	color: #FFF;
	padding-left: 5px;
}
/* 大标题 */
.title_h1 {
	margin-top: 45px;
	font-size: 25px;
	color: #000;
}
.divide_line {
	width: 100%;
	height: 1px;
	background: #999;
}
/* 小标题和内容 */
.title_h2 {
	margin-top: 30px;
	font-size: 19px;
	margin-left: 20px;
	color: #302D2D;
}
.content {
	font-size: 19px;
	color: #000;
	margin-top: 10px;
	margin-left: 40px;
	line-height: 1.5;
}
.margin-top {
	margin-top: 20px;
}
.copyright {
	font-size: 13px;
	color: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.footer_static{
	margin-top:10px;
	text-align: center;
}
.blue, a {
	color: #0b758f;
	text-decoration:none;
	border-bottom:#0b758f dashed 1px;
}
.blue:hover, a:hover {
	color: #f94b42;
	text-decoration:none;
	border-bottom:#f94b42 dashed 1px;
	cursor:pointer;
}
.code_name{
	font-size: 15px;
	color: #999;
	margin-top: 10px;
	margin-left: 20px;
	line-height: 1.5;
}
.whiteklink a {
	color: #ffffff;
	text-decoration:none;
	border-bottom:#999999 dashed 1px;
}
.whiteklink a:hover {
	color: #ffffff;
	text-decoration:none;
	border-bottom:#ffffff dashed 1px;
}